.top-banner {
  width: 750rpx;

  &__swiper {
    width: 750rpx;
    height: 360rpx;
  }

  &__single {
    width: 750rpx;
    height: 360rpx;
  }

  &__image {
    width: 750rpx;
    height: 360rpx;
  }
}
