.region-picker {
  background-color: #fff;
  border-radius: 24rpx 24rpx 0 0;

  &__header {
    padding: 28rpx 32rpx;
    border-bottom: 2rpx solid #f0f0f0;
  }

  &__cancel,
  &__confirm {
    font-size: 28rpx;
    padding: 8rpx 16rpx;
  }

  &__cancel {
    color: #999;
  }

  &__confirm {
    color: #ff4d3d;
  }

  &__title {
    font-size: 30rpx;
    font-weight: 600;
    color: #333;
  }

  &__view {
    height: 500rpx;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28rpx;
    color: #333;
  }
}
